

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Asul&family=Gafata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gafata', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}



p{
    font-size: 16px;
    color: gray;
    margin: 15px 0 20px 0;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(243, 250, 220);
    box-shadow: 0 5px 10px  aquamarine;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #088178;

    li{
        list-style: none;
        padding: 0 20px;
        position: relative;
        font-size: 30px;
        a{
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #088178;
            transition: 0.3s ease;
            
        }
        a:hover,
        a.active{
            color: rebeccapurple;
        }
        a:hover::after,
        a.active::after{
            content:"";
            width: 30%;
            height: 2px;
            background-color: rebeccapurple;
            position: absolute;
            bottom: -4px;
            left: 20px;
        }
    }
}

#mobile{
    display: flex;
    align-items: center;
    display: none;
}


#hero{
    background-image: url(images/hero.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h4{
        padding-bottom: 15px;
    }
    h1{
        color: red;
    }
    button{
        background-image: url("images/button.png");
        background-color: transparent;
        color: red;
        border: 0;
        padding: 14px 80px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;

    }
}

.section-p1{
    padding: 40px 80px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    

    .fe-box{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
        border:1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;

        h6{
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4; 
        }


        img{
            width: 100%;
            margin-bottom: 10px;
        }
        
    }

    .fe-box:hover{
        box-shadow: 10px 10px 54px rgba(70,62,221,0.01);
    }

    .fe-box:nth-child(1) h6 {
        background-color: #fddde4; 
    }

    .fe-box:nth-child(2) h6 {
        background-color: #d1e8f2; 
    }

    .fe-box:nth-child(3) h6 {
        background-color: #fddde4; 
    }

    .fe-box:nth-child(4) h6 {
        background-color: #cdd4f8; 
    }

    .fe-box:nth-child(5) h6 {
        background-color: #f6dbf6; 
    }

    .fe-box:nth-child(6) h6 {
        background-color: #fff2e5; 
    }
    
    
}

#product1{
    text-align: center;
    background-color:  lavenderblush;

    .pro-container{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .pro{
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid plum;
        border-radius: 15px;
        cursor: pointer; 
        box-shadow: 20px 20px 30px rgba(0,0,0,0.03);
        margin: 15px 0;
        transition: 0.3s ease;
        position: relative;
        background-color: #fff;

        img{
            width: 100%;
            border-radius: 15px;
        }

        .description{
            text-align: start;
            padding: 10px 0;
    
            span{
                color: #606063;
                font-size: 12px;
            }

            h5{
                padding-top: 7px;
                color: #1a1a1a;
                font-size: 14px;
            }

            i{
                font-size: 12px;
                color: gold;
            }

            h4{
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: #088178;
            }
        }
        .addcart{
            
            bottom: 20px;
            right: 10px;
        }
        .fa-shopping-cart:before{
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: papayawhip;
            color:palevioletred;
            border: 1px solid thistle;
            position: absolute;
            bottom: 20px;
            right: 10px;
        }
    }

    

    

    .pro:hover{
        box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    }
}


.section-m1{
    margin: 40px 0;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner/ban1.webp");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

    h2{
        color: #fff;
        font-size: 34px;
        padding: 10px 0;

        span{
            color: red;
        }
    }
    button:hover{
        color:#fff;
        background-color: palevioletred;
    }
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}


    

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

    .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 40%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }
    .banner-box1{
        background-image: url("images/banner/b17.jpg");
    }
    .banner-box2{
        background-image: url("images/banner/b10.jpg");
    }
    h4{
        color:#fff;
        font-size: 20px;
        font-weight: 300;
    }
    h2{
        color:#fff;
        font-size: 28px;
        font-weight: 800;
    }
    span{
        color:#fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;        
    }

    button.white{
        font-size: 13px;
        font-weight: 600;
        padding: 1px 18px;
        color: #fff;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #fff;
        outline: none;
        transition: 0.3s;
    }
    
    .banner-box:hover button{
        background-color: palevioletred;
        border: 1px solid palevioletred;
    }
    
}

#video{
    display: flex;
    justify-content: space-between;
    flex-wrap: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border: #088178;

    h2{
        padding: 20px;
    }

}   
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(images/banner/b7.jpg);
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }
    .banner-box2{
        background-image: url(images/banner/b4.jpg);
    }
    .banner-box3{
        background-image: url(images/banner/b18.jpg);
    }

    h2{
        color:#fff;
        font-weight: 900;
        font-size: 22px;
    }

    h3{
        color:red;
        font-weight: 800;
        font-size: 15px;
    }
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: mistyrose;

    h4{
        font-size: 22px;
        font-weight: 700;
        color: #088178;
    }

    p{
        color:#088178;
        font-weight: 600;

    
        span{
            color: crimson;
        }
    }

    input{
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .email{
            width: 150px;
        }
    }

    button{
        background-color: #088178;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    button:hover{
        background-color: palevioletred;
    }
    .form{
        display: flex;
        width: 40%;
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(243, 250, 220);



    .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .logo{
        margin-bottom: 30px;
        width: 100px;
    }

    h4{
        font-size: 14px;
        padding-bottom: 20px;
    }

    p{
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }

    .follow{
        margin-top: 20px;

        i, .privacy{
            color: #465b52;
            cursor: pointer;
            padding-right: 4px;
        }

        
    }

    .install {
        .row img{
            border: 1px solid #088178;
            border-radius: 6px;
        }
        img{
            margin: 10px 0 15px 0;
        }
    }

    .follow i:hover,
    a:hover{
        color: #088178;
    }

    .copyright{
        width:100%;
        text-align: center;

        
        .privacy ul li{
            display: flex;
            flex-direction: row;
            
            ul li{
            list-style: none;

        }

        }
    }

    
        li{
            list-style: none;

        }
        .privacy{

        }
    
}

.privacy{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li{
        list-style: none;
        padding: 0 20px;
        position: relative;
        font-size: 30px;
        a{
            text-decoration: none;
        }
    }

}

.privacy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
@import "./mediaquery";
@import "./thankyoupage";