@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Asul&family=Gafata&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gafata', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: gray;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 80px;
  background-color: #f3fadc;
  -webkit-box-shadow: 0 5px 10px  aquamarine;
          box-shadow: 0 5px 10px  aquamarine;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #088178;
}

#nav-bar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  font-size: 30px;
}

#nav-bar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #088178;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#nav-bar li a:hover,
#nav-bar li a.active {
  color: rebeccapurple;
}

#nav-bar li a:hover::after,
#nav-bar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: rebeccapurple;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#hero {
  background-image: url(images/hero.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0px;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: red;
}

#hero button {
  background-image: url("images/button.png");
  background-color: transparent;
  color: red;
  border: 0;
  padding: 14px 80px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.section-p1 {
  padding: 40px 80px;
}

#feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  -webkit-box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
          box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box:hover {
  -webkit-box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
          box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box:nth-child(1) h6 {
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #fddde4;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
  background-color: lavenderblush;
}

#product1 .pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid plum;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  background-color: #fff;
}

#product1 .pro img {
  width: 100%;
  border-radius: 15px;
}

#product1 .pro .description {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .description span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .description i {
  font-size: 12px;
  color: gold;
}

#product1 .pro .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .addcart {
  bottom: 20px;
  right: 10px;
}

#product1 .pro .fa-shopping-cart:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: papayawhip;
  color: palevioletred;
  border: 1px solid thistle;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro:hover {
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.section-m1 {
  margin: 40px 0;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("images/banner/ban1.webp");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h2 {
  color: #fff;
  font-size: 34px;
  padding: 10px 0;
}

#banner h2 span {
  color: red;
}

#banner button:hover {
  color: #fff;
  background-color: palevioletred;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sm-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 40%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box1 {
  background-image: url("images/banner/b17.jpg");
}

#sm-banner .banner-box2 {
  background-image: url("images/banner/b10.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 1px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sm-banner .banner-box:hover button {
  background-color: palevioletred;
  border: 1px solid palevioletred;
}

#video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: left;
      flex-wrap: left;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  border: #088178;
}

#video h2 {
  padding: 20px;
}

#banner3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url(images/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(images/banner/b18.jpg);
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: red;
  font-weight: 800;
  font-size: 15px;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: mistyrose;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #088178;
}

#newsletter p {
  color: #088178;
  font-weight: 600;
}

#newsletter p span {
  color: crimson;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter input .email {
  width: 150px;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter button:hover {
  background-color: palevioletred;
}

#newsletter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3fadc;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  width: 100px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i, footer .follow .privacy {
  color: #465b52;
  cursor: pointer;
  padding-right: 4px;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .copyright .privacy ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .copyright .privacy ul li ul li {
  list-style: none;
}

footer li {
  list-style: none;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.privacy li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  font-size: 30px;
}

.privacy li a {
  text-decoration: none;
}

.privacy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 799px) {
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: aqua;
    -webkit-box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
  }
  #nav-bar li {
    margin-bottom: 25px;
  }
  #nav-bar .active {
    right: 0px;
  }
  #nav-bar.active {
    right: 0px;
  }
  #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
  }
  #mobile i {
    color: #088178;
    font-size: 24px;
    padding-left: 20px;
  }
  #mobile i:hover {
    color: rebeccapurple;
    font-size: 24px;
    padding-left: 20px;
  }
  #banner3 .banner-box {
    min-width: 100%;
  }
}

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
    background-color: #f3fadc;
    -webkit-box-shadow: 0 5px 10px  aquamarine;
            box-shadow: 0 5px 10px  aquamarine;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
  #hero {
    padding: 0 20px;
  }
  #hero h1 {
    font-size: 38px;
  }
  #hero h2 {
    font-size: 32px;
  }
  #feature {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #feature .fe-box {
    width: 140x;
    margin: 0 0 15px 0;
  }
  #feature.section-p1 {
    padding: 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #product1.section-p1 {
    padding: 0;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #sm-banner .banner-box {
    width: 100%;
    height: 60vh;
  }
  #video {
    width: 100%;
  }
  #video iframe {
    width: 260px;
    height: 165px;
  }
  #banner3 .banner-box {
    min-width: 100%;
  }
  #newsletter .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #newsletter input,
  #newsletter button {
    border-radius: 4px;
  }
}

.thankyou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
/*# sourceMappingURL=pustura.css.map */