.thankyou,.envelope{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thanks{
    font-size: 50px;
    text-align: center;
    color: black;
    
}

body{
    
    color: black;
    font-family: chalkduster;
    line-height: 2;
    width: max-content;
    background-image: url(https://thumbs.dreamstime.com/b/pink-christmas-background-confetti-delicate-pink-christmas-background-beautiful-pink-confetti-top-view-copy-space-133235328.jpg);
}
